

/*header*/
.logoimg {
  position: absolute;
  height: 7vw;
  width: 15vw;
  margin-top:1vw;
  margin-left:1vw;
}
.name {
  position: absolute;
  height: 6vw;
  width: 17vw;
  margin-top:4vw;
  margin-left:43vw;
  font-size: 3vw;
}
.buttons {
  position: absolute;
  margin-top:4vw;
  height: 3vw;
  width: 6vw;
  text-decoration: none;
  text-align: center;
  font-size: 2vw;
  color:white;
}
/* header end*/

/*Homepage slideshow*/
.content
            {
              position: absolute;
              width:10vw;
              height:40vw;
              margin-left:10vw;
              /*background: linear-gradient( to right,#000428,#004e92,#000428);*/
              z-index: 1;
            }

.slideshow-container
             {
              position: absolute;
              width:10vw; 
              height:40vw; 
              top: 0vw; 
              left: -1vw;
              margin-right:0vw;
              right:0vw;
              z-index: 1;
             }
.mySlides
             {
              position: absolute;
              width:10vw; 
              height:40vw;
              top: 0vw;
              margin-right:0vw;
              z-index: 1;
              margin-left:0vw;
             }
.mySlides img
             {
              position: absolute;
              width:80vw; 
              height:40vw;
              top: 0vw;
              z-index: 1;
              margin-right:0vw;
              margin-left:0vw;
             }
/*Homepage slideshow ends*/
/*three r's*/
.rrr
{
  margin-top: 40vw;
  font-size:1vw;
  color:white;
}
.rrr h1{
  font-size:5vw;
}
/*three r's ends*/

/*login and signup pop-up*/
.form-popup h2 ,.s_form-popup h2
            {
              font-size: 3vw;
              text-align: center;
              z-index: 3;
            }
.form-popup 
            {
              width:40vw;
              height:22vw;
              padding: 1vw 1vw 1vw 1vw;
              display: none;
              position: fixed;
              top: 10vw;
              right: 25vw;
              border-radius: 1vw;
              z-index: 3;
            }
#myform
            {
              position: absolute;
              display: none;
              width: 42vw;
              height: 30vw;
              top: 10vw;
              left: 25vw;
              background-color: rgba(0,0,0,0.5);
              cursor: pointer;
              z-index: 3;
            }
#myform1
            {
              position: absolute;
              display: none;
              width: 42vw;
              height: 52vw;
              top: 10vw;
              left: 25vw;
              background-color: rgba(0,0,0,0.5);
              cursor: pointer;
              z-index: 3;
            }
.form-container
             {
              align-items: center;
              width:40vw;
              height:28vw;
              padding: 1vw 1vw 1vw 1vw;
              background-color: white;
              color:#000000;
              z-index: 3;
            }
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email],  .s_form-container input[type=text], .s_form-container input[type=password], .s_form-container input[type=email],.s_form-container select
            {
              width: 30vw;
              height: 4vw;
              padding: 1vw;
              font-size: 1vw;
              margin: 1vw 0 2vw 0;
              border: none;
              border-radius: 2vw;
              background: #f1f1f1;
              margin-left: 5vw;
              z-index: 3;
            }
.form-container button[type=submit]
             {
              position: absolute;
              background-color: red;
              color: white;
              border: none;
              border-radius: 2vw;
              cursor: pointer;
              width: 20vw;
              font-size: 2vw;
              left:-79vw;
              right:90vw;
              top:24vw;
              bottom: 5vw;
              z-index: 3;
             }
.form-container .cancel
             {
              position: absolute;
              text-decoration: bold;
              background-color: #ffffff;
              color: red;
              width:1vw;
              height: 1vw;
              float:right;
              top: 1.5vw;
              left: -51vw;
              z-index: 4;
             }
.header_btn button
{
position: absolute;
              background-color:rgba(255,255,255,0.1); 
              color:#ffffff;
              border: none;
              border-radius: 0vw;
              width:12vw;
              height:4vw;
              top: 1vw;
              margin-left: 90vw;
              font-size: 1.5vw;
              float: right;
              z-index: 2;
            }

.s_header_btn button
            {
              position: absolute;
              background-color:rgba(255,255,255,0.1); 
              color:#ffffff;
              border: none;
              width:10vw;
              height:4vw;
              top: 1vw;
              margin-left: 80vw;
              font-size: 1.5vw;
              float: right;
              z-index: 2;
            }  
.s_form-container button[type=submit]
            {
              position: absolute;
              background-color:red;
              color: white;
              border: none;
              border-radius: 2vw;
              cursor: pointer;
              width: 20vw;
              font-size: 2vw;
              left:-70vw;
              right:90vw;
              top:45vw;
              bottom: 5vw;
              z-index: 3;
             }
.s_form-container .cancel 
             {
              position: absolute;
              text-decoration: bold;
              background-color: #ffffff;
              color: red;                                 
              width:1vw;
              height: 1vw;
              float:right;
              top: 1.5vw;
              left: -41vw;
              z-index: 4;
             }

             .s_form-popup 
            {
              width:40vw;
              height:59vw;
              padding: 1vw 1vw 1vw 1vw;
              display: none;
              position: fixed;
              top: 3vw;
              right: 25vw;
              border-radius: 0vw;
              z-index: 3;
            }
            .s_form-container 
            {
              align-items: center;
              width:40vw;
              height:50vw;
              padding: 1vw 1vw 1vw 1vw;
              background-color: white;
              color:#000000;
              z-index: 3;
            }
/*login and signup pop-up ends*/

/* category (left sided image) #dbdeca*/
.space{
            position: relative;
            width:70vw;
            height:25vw;
            margin:0;
            top:2vw;
            margin-top:-3vw;
            border:0.3vw double #06390d;
            background-color:#dbdeca;
}
.space img{
            position:relative;
            width:30vw;
            height: 20vw;
            margin-top: 2.5vw;
            margin-left:1vw;
}
.space h3{
            position: relative;
            margin-left: -10vw;
            margin-top: -3vw;
            font-size: 3.5vw;
            text-decoration: none;
            color:#06390d;
          }
.space h5{
            position: relative;
            margin-left: -10vw;
            margin-top: 0vw;
            font-size: 2vw;
            text-decoration: none;
            color:black;
          }
.space p{
            position: relative;
            margin-left: -10vw;
            margin-top: -1vw;
            font-size: 1.5vw;
            text-decoration: none;
            color:black;
}
.space a
{
    text-decoration: none;
    color: black;
}
.space button{
height:2.5vw;
width:5.5vw;
margin-top: -2.5vw;
background-color: #06390d;
font-size: 1.5vw;
color: white;
border:none;
}
.space button:hover
{

  background-color: red;
  color: white;
}


.space input[type="submit"]
{
 height:2.5vw;
 width:5.5vw;
 margin-top: -2.5vw;
 background-color: #06390d;
 font-size: 1.5vw;
 color: white;
 border:none;
} 

.space input:hover[type="submit"] 
		{
			background-color: red;
		}

/* category ends (left sided image)*/

/* category (right sided image) #dbdeca */
.space2{
            position: relative;
            width:70vw;
            height:25vw;
            margin:0;
            top:2vw;
            margin-top: 2vw;
             border:0.3vw double #06390d;
            background-color:#dbdeca;
            
}
.space2 img{
            position:relative;
            width:30vw;
            height: 20vw;
            margin-top: 2.5vw;
            margin-left:38vw;
}
.space2 h3{
            position: relative;
            margin-left:-65vw;
            margin-top: -5vw;
            font-size: 3.5vw;
            text-decoration: none;
            color:#06390d;
          }

.space2 h5{
            position: relative;
            margin-left:-65vw;
            margin-top: 0vw;
            font-size: 2vw;
            text-decoration: none;
            color:black;
          }
.space2 p{
            position: relative;
            margin-left: -65vw;
            margin-top: -1vw;
            font-size: 1.5vw;
            text-decoration: none;
            color:black;
}
.space2 a
{
    text-decoration: none;
    color: black;
}
.space2 button{
height:2.5vw;
width:5.5vw;
margin-top: -2.5vw;
background-color: #06390d;
font-size: 1.5vw;
color: white;
border:none;
}
.space2 button:hover
{

  background-color: red;
  color: white;
}
.space2 input[type="submit"]
{
 height:2.5vw;
 width:5.5vw;
 margin-top: -2.5vw;
 background-color: #06390d;
 font-size: 1.5vw;
 color: white;
 border:none;
} 

.space2 input:hover[type="submit"] 
    {
      background-color: red;
    }

/* category ends (right sided image)*/


/*Inside scrap form */
.forminside input[type=text]
{
              width: 25vw;
              height: 4vw;
              padding: 1vw;
              font-size: 1.5vw;
              margin: 1vw 0 2vw 0;
              border: none;
              border-radius: 1.5vw;
              background: #06390d;;
              text-align: center;
              color:white;
            
             }

.forminside select 
{
              width: 24vw;
              height: 4vw;
              padding: 1vw;
              font-size: 1.5vw;
              margin: 1vw 0 2vw 0;
              border: none;
              border-radius: 1.5vw;
              background: #06390d;;
              text-align: center;
              color:white;
            
             }

.forminside input[type=submit]
{
  position: absolute;
              background-color:red;
              color: white;
              border: none;
              border-radius: 1.5vw;
              cursor: pointer;
              width: 17vw;
              height: 3vw;
              font-size: 2vw;
              margin-left:-7vw;
}

.personal input[type=text], input[type=email],input[type=password],input[type=tel]
{
   width: 30vw;
    height: 4vw;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    border-radius: 1.5vw;
    color: black;
    margin-top:0.6vw;

}
.personal input[type=submit]
{

  height: 4vw;
  width: 9vw;
  margin-top:2vw;
  margin-left:-4vw;
  position: absolute;
  background-color:red;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer; 
  font-size: 1.5vw;
             
}


.addadmin input[type=text], input[type=email],input[type=password],input[type=tel],select
{
   width: 30vw;
    height: 4vw;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    border-radius: 1.5vw;
    color: black;
    margin-top:0.6vw;

}  

.addadmin input[type=submit]
{

  height: 4vw;
  width: 9vw;
  margin-top:2vw;
  margin-left:-4vw;
  position: absolute;
  background-color:red;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer; 
  font-size: 1.5vw;
             
}

.connect input[type=text], input[type=email],input[type=textarea]
{
   width: 30vw;
    height: 4vw;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    border-radius: 1.5vw;
    color: black;
    margin-top:0.6vw;

}

.connect input[type=submit]
{

  height: 4vw;
  width: 9vw;
  margin-top:2vw;
  margin-left:-4vw;
  position: absolute;
  background-color:red;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer; 
  font-size: 1.5vw;
             
}

/*//Cards*/
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  margin-top: 2vw;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

  

